@media screen and (max-width: 480px) {
    .social{
     display: none;
    }
   }

   @media screen and (max-width: 780px) {
    .social{
     display: none;
    }
   }


   @media screen and (max-width: 1030px) {
    .my-div{
        width: 80px !important;
    }
    .my-img{
        width: 75% !important;
    }
    .my-img2{
        width: 35% !important;
    }
   }
   @media screen and (max-width: 960px) {
    .my-div{
        width: 60px !important;
    }
    .my-img{
        width: 80% !important;
    }
    .my-img2{
        width: 40% !important;
    }
   }